@import('../../../../styles/variables/variables.styl')

.table
  border-collapse: collapse
  width: 100%
  border: 1px dashed $table-color

.table th, .table td
  border: 1px dashed $table-color
  padding: 8px
  text-align: left
  font-size: 12px
  color: $table-color
