@import '../../styles/variables/variables.styl';

$button-height-small = 28
$button-height-medium = 36
$button-height-large = 56

layerBorderRadius(borderRadius)
  borderRadius - 2

.button
  cursor: pointer
  outline: none
  box-shadow: none
  border: none
  position: relative

  &::after
    content: ""
    display: block
    position: absolute
    visibility: hidden
    opacity: 0
    width: 100%
    height: 100%
    top: 0
    left: 0

  &::before
    content: ""
    display: block
    position: absolute
    width: calc(100% + 4px)
    height: calc(100% + 4px)
    box-shadow: 0 0 0 3px $focused-button-outline-color
    pointer-events: none
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    opacity: 0
    visibility: hidden
    transition: visibility .15s $animation-func, opacity .15s $animation-func

  &:focus::before
    visibility: visible
    opacity: 1

  &:disabled
    cursor: not-allowed

    &::after
      visibility: visible
      opacity: 1

.size-small
  height: ($button-height-small)px
  line-height: ($button-height-small)px
  font-size: 13px
  padding: 0 10px
  border-radius: ($button-border-radius-small)px
  min-width: 50px

  &::before, &::after
    border-radius: ($button-border-radius-small)px

.size-medium
  height: ($button-height-medium)px
  line-height: ($button-height-medium)px
  font-size: 15px
  padding: 0 12px
  border-radius: ($button-border-radius-medium)px
  min-width: 60px

  &::before, &::after
    border-radius: ($button-border-radius-medium)px

.size-large
  height: ($button-height-large)px
  line-height: ($button-height-large)px
  font-size: 17px
  padding: 0 16px
  border-radius: ($button-border-radius-large)px
  min-width: 90px

  &::before, &::after
    border-radius: ($button-border-radius-large)px

.primary
  background-color: $primary-button-color
  color: $primary-text-color

  &::after
    background-color: alpha($primary-text-color, .36)

.secondary
  background-color: $secondary-button-color
  color: $secondary-text-color

  &::after
    background-color: alpha($primary-text-color, .36)
