@import '../../styles/variables/variables.styl';

$counter-padding = 3

counterLineHeightWithoutPadding(size, padding)
  size - (padding * 2)

counterSize(size)
  min-width (size)px
  height: (size)px
  line-height: (size)px

.counter
  border-radius: 300px
  display: inline-block
  text-align: center
  font-weight: 500
  position: relative

.stroke
  box-shadow: 0 0 0 2px $primary-text-color

.counterSize-extraLarge
  counterSize(24)
  font-size: 15px
  padding: 0 6px

.counterSize-large
  counterSize(20)
  font-size: 13px
  padding: 0 5px

.counterSize-medium
  counterSize(16)
  font-size: 11px
  padding: 0 4px

.counterSize-small
  counterSize(12)

.counterSize-extraSmall
  counterSize(8)

.counterColor-primary
  background: $primary-counter-color
  color: $primary-text-color

.counterColor-secondary
  background: $secondary-counter-color
  color: $secondary-text-color

.counterColor-altPrimary
  background: $alt-primary-counter-color
  color: $primary-text-color

.counterColor-altSecondary
  background: $alt-secondary-counter-color
  color: $secondary-text-color
