@import('./variables/variables.styl')

light-theme()
  body
    background-color: $body-background-light
    color: $table-color

dark-theme()
  body
    background-color: $body-background-dark
    color: $table-color
