@import('../../../../styles/variables/variables.styl')

.layer
  position: absolute
  top: 0
  left: 0
  overflow: hidden
  display: block
  width: 100%
  height: 100%

  &::before
    content: ""
    display: block
    position: absolute
    top: -20px
    left: -20px
    width: calc(100% + 40px)
    height: calc(100% + 40px)
    border-radius: 300px
    transform: translateX(-100%)
    transition: all .15s $animation-func

button:hover .layer-primary::before
  transform: translateX(0)
  background: alpha($primary-text-color, 0.12)

button:active .layer-primary::before
  transform: translateX(0)
  background: alpha($primary-text-color, 0.2)

button:disabled .layer-primary::before
  transform: translateX(0)
  background: alpha($primary-text-color, 0.36)

button:hover .layer-secondary::before
  transform: translateX(0)
  background: alpha($secondary-text-color, 0.12)

button:active .layer-secondary::before
  transform: translateX(0)
  background: alpha($secondary-text-color, 0.2)

button:disabled .layer-secondary::before
  transform: translateX(0)
  background: alpha($secondary-text-color, 0.36)

.layer-large
  border-radius: ($button-border-radius-large)px

.layer-medium
  border-radius: ($button-border-radius-medium)px

.layer-small
  border-radius: ($button-border-radius-small)px
