$body-background-light = #fff
$body-background-dark = #0d1117

$font-family-main = 'Roboto', sans-serif

$primary-text-color = #FFFFFF
$secondary-text-color = #2E2F33

$primary-counter-color = #2FB675
$secondary-counter-color = #E6E0DC
$alt-primary-counter-color = rgba(255,255,255,.12)
$alt-secondary-counter-color = rgba(131,102,86,.12)

$primary-button-color = #FF7700
$secondary-button-color = #F0EDEB

$focused-button-outline-color = #0099FF

$table-color = #9747FF

$button-border-radius-small = 9
$button-border-radius-medium = 12
$button-border-radius-large = 16

$animation-func = cubic-bezier(0, -0.3, 0.5, 1.3)
